<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inch</key>
	<integer>1</integer>
	<key>feet</key>
	<integer>12</integer>
	<key>meter</key>
	<real>39.3701</real>
	<key>kilometer</key>
	<real>39370.1</real>
	<key>mile</key>
	<integer>63360</integer>
</dict>
</plist>
